#all-set-components {
    text-align: center;
}

#card-space {
    text-align: center;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

#mtg-set {
    color: #9374C3;
    border-style: ridge;
    border-color: #0F3460;
    display: inline-table;
    width: 200px;
    height: 300px;
    text-align: center;
    padding: 20px;
}

#mtg-set h3 {
    color: #E94560;
}

#pie-chart {
    width: 50%;
    margin: auto;
}

#selected-sets {
    height: 100px;
    border-style: double;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
}

.body-text {
    padding-top: 10px;
    padding-left: 250px;
    font-size: 18px;
}

.imageless-card {
    background-color: #533483;
    border-radius: 5%;
    font-size: 15px;
    border-style: solid;
    overflow: hidden;
}

.sidebar {
    min-height: 100vh;
    width: 250px;
    position: absolute;
    left: 0;
    top: 100px;
    padding-top: 40px;
    background-color: #16213E;
    text-align: center;
    border-right: #533483;
    border-right-style: ridge;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.selected-card {
    position: absolute;
    margin-left: -45%;
}

.sidebar div {
    padding: 8px;
    font-size: 18px;
    display: block;
}

.stat-text {
    font-size: 40px;
}

button {
    border-radius:20%;
    background-color: #533483;
    border-width: 3px;
    padding-right: 10px;
    padding-left: 10px;
    color:#9374C3;
    font-size: 25px;
}

html,
body {
    height: 100%;
    background-color: #16213E;
    color: #E94560;
    font-family: 'Goudy Mediaeval', sans-serif;

}

header {
    height: 100px;
    background-color: #16213E;
    border-bottom-style: solid;

    text-align: center;
    padding-top: 1%;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);

}
