html, body { 
    height: 100%;
    background-color: #16213E;
    color: #E94560;
    font-family: 'Goudy Mediaeval', sans-serif;
    
 }

 #card-space{
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
 }

header {
    height:100px;
    background-color: #16213E;
    border-bottom-style: solid;
    
    text-align: center;
    padding-top: 1%;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    
}

.sidebar {
    min-height: 100vh;
    width: 250px;
    position: absolute;
    left: 0;
    top: 100px;
    padding-top: 40px;
    background-color: #16213E;
    text-align: center;
    border-right: #533483;
    border-right-style:ridge;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
}

.body-text {
    padding-top: 10px;
    padding-left: 260px;
    font-size: 18px;
}

.pack-card{

}

.selected-card{
    position: absolute;
    margin-left: -45%;
}